.article-section {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
}

.get-full-access-section {
  flex: 1;
  margin-top: auto;
  padding-bottom: 60px;

  h1 {
    font-size: 55px;
    font-weight: 500;
  }
  p {
    font-size: 20px;
    line-height: 30px;
    margin: 0px 0px 40px 0px;
    color: rgb(78, 78, 78);
  }
}

.article-btn {
  background-color: rgba(0, 136, 78, 255);
  border: none;
  color: rgb(250, 250, 250);
  padding: 16px;
  border-radius: 5px;
  font-weight: 600;
}

.logo-component {
  text-align: right;
  flex: 2;
}

@media (max-width: 940px) {
  .article-section {
    flex-direction: column;
  }

  .logo-component {
    flex: 1;
    text-align: center;
  }

  .get-full-access-section {
    flex: 1;
    h1 {
      text-align: center;
    }
  }
}
